scripts/onboarding-batch_without-store-identifier.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_brandId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "brandId",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_accountId_aka_franchise": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "accountId",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_brandId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_contextPointId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "contextPointId",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_accountId_aka_franchise": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "foreach",
                "foreach": "@body('Parse_input_JSON')",
                "actions": {
                    "Check_if_missing_brand_id,_account_id,_and-or_site_id": {
                        "type": "If",
                        "expression": {
                            "or": [
                                {
                                    "equals": [
                                        "@variables('brandId')",
                                        0
                                    ]
                                },
                                {
                                    "equals": [
                                        "@variables('accountId')",
                                        0
                                    ]
                                },
                                {
                                    "equals": [
                                        "@variables('contextPointId')",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {},
                        "else": {
                            "actions": {
                                "Post_Global_Configs": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_globalConfigKeys_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['globalConfigKeys'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_globalConfigKeys": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['globalConfigKeys']"
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_setting_global_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "HTTP_-_Set_gloabl_specific_settings": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "HTTP_-_Set_gloabl_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{parameters('ConfigAPI')} ",
                                                        "method": "PUT",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "body": "@item()?['globalConfigKeys']",
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_globalConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Post_Brand_Configs": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_brandConfigKeys_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['brandConfigKeys'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_brandConfigKeys": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['brandConfigKeys']"
                                                },
                                                "HTTP_-_Set_brand_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId'))} ",
                                                        "method": "PUT",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "body": "@item()?['brandConfigKeys']",
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_brandConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_setting_brand_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "HTTP_-_Set_brand_specific_settings": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Delete_Site_Config_Constraints": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_deleteSiteConfigConstraints_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['deleteSiteConfigConstraints'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_deleteSiteConfigConstraints": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['deleteSiteConfigConstraints']"
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_deleting_site_config_constraints": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "For_each_leteSiteConfigConstraints": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "For_each_leteSiteConfigConstraints": {
                                                    "type": "Foreach",
                                                    "foreach": "@item()?['deleteSiteConfigKeys']",
                                                    "actions": {
                                                        "HTTP_-_delete_1_site_config_constraints": {
                                                            "type": "Http",
                                                            "inputs": {
                                                                "uri": " @{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'), '/scopes/', items('For_each_leteSiteConfigConstraints')?['Post_Span_Time_Configurations'], '/keys/', items('For_each_leteSiteConfigConstraints')?['Name'])} ",
                                                                "method": "DELETE",
                                                                "authentication": {
                                                                    "type": "ManagedServiceIdentity",
                                                                    "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_deleteSiteConfigConstraints": [
                                                            "SUCCEEDED"
                                                        ]
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Delete_Site_Config_Keys": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_deleteSiteConfigKeys_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['deleteSiteConfigKeys'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_deleteSiteConfigKeys": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['deleteSiteConfigKeys']"
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_deleting_site_config_keys": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "For_each_deleteSiteConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "For_each_deleteSiteConfigKeys": {
                                                    "type": "Foreach",
                                                    "foreach": "@item()?['deleteSiteConfigKeys']",
                                                    "actions": {
                                                        "HTTP_-_delete_1_site_config_key": {
                                                            "type": "Http",
                                                            "inputs": {
                                                                "uri": " @{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'), '/scopes/', items('For_each_deleteSiteConfigKeys')?['Post_Span_Time_Configurations'], '/keys/', items('For_each_deleteSiteConfigKeys')?['Name'])} ",
                                                                "method": "DELETE",
                                                                "authentication": {
                                                                    "type": "ManagedServiceIdentity",
                                                                    "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_deleteSiteConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Post_Account_Configs": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_accountConfigKeys_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['accountConfigKeys'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_accountConfigKeys": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['accountConfigKeys']"
                                                },
                                                "HTTP_-_Set_account_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'))} ",
                                                        "method": "PUT",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "body": "@item()?['accountConfigKeys']",
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_accountConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_setting_account_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "HTTP_-_Set_account_specific_settings": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Post_Site_Configs": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_siteConfigKeys_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['siteConfigKeys'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Display_siteConfigKeys": {
                                                    "type": "Compose",
                                                    "inputs": "@item()?['siteConfigKeys']"
                                                },
                                                "HTTP_-_Set_site_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'))} ",
                                                        "method": "PUT",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "body": "@item()?['siteConfigKeys']",
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Display_siteConfigKeys": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "(For_debugging_only)_HTTP_Get-after_setting_site_specific_settings": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{concat(parameters('ConfigAPI'), '/brands/', variables('brandId') , '/accounts/', variables('accountId'), '/sites/',  variables('contextPointId'),  '/keys')} ",
                                                        "method": "GET",
                                                        "headers": {
                                                            "Accepts": " application/json"
                                                        },
                                                        "authentication": {
                                                            "type": "ManagedServiceIdentity",
                                                            "audience": "@{parameters('ConfigAuthenticationAudience')}"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "HTTP_-_Set_site_specific_settings": [
                                                            "SUCCEEDED"
                                                        ]
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Post_Span_Type": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_spanTypes_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['spanTypes'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "HTTP-UpsertSpanType": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@parameters('E3DSpanService-UpsertSpanType')",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Authorization": "@{concat('Bearer ', body('HTTP_-_Get_token_for_E3D_APIs')?['access_token'])}",
                                                            "Content-Type": "application/json"
                                                        },
                                                        "body": "@item()?['spanTypes']"
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Post_Span_Time_Configurations": {
                                    "type": "Scope",
                                    "actions": {
                                        "Has_spanTimeConfigurations_in_payload_json": {
                                            "type": "If",
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@empty(item()?['spanTimeConfigurations'])",
                                                                "@true"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "actions": {
                                                "Upsert_Span_Time_Configurations.__(TODO)_may_need_to_look_through_each_span": {
                                                    "type": "Scope",
                                                    "actions": {
                                                        "(For_debug_only)_HTTP_-_GetSpanTimeConfigurations_after_upsert": {
                                                            "type": "Http",
                                                            "inputs": {
                                                                "uri": "@parameters('E3DSpanService-GetSpanTimeConfigurations')",
                                                                "method": "GET",
                                                                "headers": {
                                                                    "Authorization": "@{concat('Bearer ', body('HTTP_-_Get_token_for_E3D_APIs')?['access_token'])}",
                                                                    "Content-Type": "application/json"
                                                                },
                                                                "queries": {
                                                                    "siteId": "@{variables('contextPointId')}"
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "HTTP_-_UpsertSpanTimeConfigurations": [
                                                                    "SUCCEEDED"
                                                                ]
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        },
                                                        "HTTP_-_UpsertSpanTimeConfigurations": {
                                                            "type": "Http",
                                                            "inputs": {
                                                                "uri": "@parameters('E3DSpanService-UpsertSpanTimeConfigurations')",
                                                                "method": "POST",
                                                                "headers": {
                                                                    "Authorization": "@{concat('Bearer ', body('HTTP_-_Get_token_for_E3D_APIs')?['access_token'])}",
                                                                    "Content-Type": "application/json"
                                                                },
                                                                "body": "@item()?['spanTimeConfigurations']"
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Display_item": [
                                            "SUCCEEDED"
                                        ]
                                    }
                                },
                                "Display_item": {
                                    "type": "Compose",
                                    "inputs": "@item()"
                                }
                            }
                        },
                        "runAfter": {
                            "Exception_is_thrown,_most_likely_missing_data_1": [
                                "SUCCEEDED",
                                "SKIPPED"
                            ],
                            "Exception_is_thrown,_most_likely_missing_data_2": [
                                "SUCCEEDED",
                                "SKIPPED"
                            ],
                            "Exception_is_thrown,_most_likely_missing_data_3": [
                                "SUCCEEDED",
                                "SKIPPED"
                            ]
                        }
                    },
                    "Set_contextPointId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "contextPointId",
                            "value": "@item()?['siteId']"
                        }
                    },
                    "Set_brandId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "brandId",
                            "value": "@item()?['brandId']"
                        }
                    },
                    "Set_accountId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "accountId",
                            "value": "@item()?['accountId']"
                        }
                    },
                    "Exception_is_thrown,_most_likely_missing_data_1": {
                        "type": "Compose",
                        "inputs": "Exception is thrown, most likely missing data",
                        "runAfter": {
                            "Set_contextPointId": [
                                "FAILED"
                            ]
                        }
                    },
                    "Exception_is_thrown,_most_likely_missing_data_2": {
                        "type": "Compose",
                        "inputs": "Exception is thrown, most likely missing data",
                        "runAfter": {
                            "Set_brandId": [
                                "FAILED"
                            ]
                        }
                    },
                    "Exception_is_thrown,_most_likely_missing_data_3": {
                        "type": "Compose",
                        "inputs": "Exception is thrown, most likely missing data",
                        "runAfter": {
                            "Set_accountId": [
                                "FAILED"
                            ]
                        }
                    },
                    "Reinitiate_contextPointId_to_0": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "contextPointId",
                            "value": 0
                        },
                        "runAfter": {
                            "Check_if_missing_brand_id,_account_id,_and-or_site_id": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Reinitiate_accountid_to_0": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "accountId",
                            "value": 0
                        },
                        "runAfter": {
                            "Check_if_missing_brand_id,_account_id,_and-or_site_id": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Reinitiate_brandid_to_0": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "brandId",
                            "value": 0
                        },
                        "runAfter": {
                            "Check_if_missing_brand_id,_account_id,_and-or_site_id": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Retrieve_Secrets,_Get_Token_for_E3D_APIs": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Retrieve_Secrets,_Get_Token_for_E3D_APIs": {
                "type": "Scope",
                "actions": {
                    "Get_secret_e3d-api-clientid-q_from_kv": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "secretName": "e3d-api-clientid-q"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "keyVault",
                                "operationId": "getSecret",
                                "serviceProviderId": "/serviceProviders/keyVault"
                            }
                        }
                    },
                    "Get_secret_e3d-api-secret-q_from_kv": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "secretName": "e3d-api-secret-q"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "keyVault",
                                "operationId": "getSecret",
                                "serviceProviderId": "/serviceProviders/keyVault"
                            }
                        },
                        "runAfter": {
                            "Get_secret_e3d-api-clientid-q_from_kv": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "HTTP_-_Get_token_for_E3D_APIs": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@concat('https://login.microsoftonline.com/', parameters('E3DTenantId'), '/oauth2/v2.0/token')",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "client_id=@{body('Get_secret_e3d-api-clientid-q_from_kv')?['value']}&client_secret=@{body('Get_secret_e3d-api-secret-q_from_kv')?['value']}&scope=@{concat('https://wintersnowb2c.onmicrosoft.com/', body('Get_secret_e3d-api-clientid-q_from_kv')?['value'], '/.default')\r\n}&grant_type=client_credentials\n"
                        },
                        "runAfter": {
                            "Get_secret_e3d-api-secret-q_from_kv": [
                                "SUCCEEDED"
                            ]
                        },
                        "operationOptions": "DisableAsyncPattern"
                    }
                },
                "runAfter": {
                    "Parse_input_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_input_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "brandId": {
                                    "type": "integer"
                                },
                                "accountId": {
                                    "type": "integer"
                                },
                                "siteId": {
                                    "type": "integer"
                                },
                                "spanTypes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "SpanType": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SpanType"
                                        ]
                                    }
                                },
                                "spanTimeConfigurations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "SpanTypeId": {
                                                "type": "integer"
                                            },
                                            "SiteId": {
                                                "type": "integer"
                                            },
                                            "StartTime": {
                                                "type": "string"
                                            },
                                            "DurationInSeconds": {
                                                "type": "integer"
                                            },
                                            "StartOn": {
                                                "type": "string"
                                            },
                                            "ExpiryOn": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SpanTypeId",
                                            "SiteId",
                                            "StartTime",
                                            "DurationInSeconds",
                                            "StartOn",
                                            "ExpiryOn"
                                        ]
                                    }
                                },
                                "globalConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "brandConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "accountConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "siteConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "deleteSiteConfigKeys": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scope": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "scope",
                                            "name"
                                        ]
                                    }
                                },
                                "deleteSiteConfigConstraints": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scope": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "scope",
                                            "name"
                                        ]
                                    }
                                }
                            },
                            "required": []
                        }
                    }
                },
                "runAfter": {
                    "Initialize_contextPointId": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "brandId": {
                                    "type": "integer"
                                },
                                "accountId": {
                                    "type": "integer"
                                },
                                "siteId": {
                                    "type": "integer"
                                },
                                "spanTypes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "SpanType": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SpanType"
                                        ]
                                    }
                                },
                                "spanTimeConfigurations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "SpanTypeId": {
                                                "type": "integer"
                                            },
                                            "SiteId": {
                                                "type": "integer"
                                            },
                                            "StartTime": {
                                                "type": "string"
                                            },
                                            "DurationInSeconds": {
                                                "type": "integer"
                                            },
                                            "StartOn": {
                                                "type": "string"
                                            },
                                            "ExpiryOn": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "SpanTypeId",
                                            "SiteId",
                                            "StartTime",
                                            "DurationInSeconds",
                                            "StartOn",
                                            "ExpiryOn"
                                        ]
                                    }
                                },
                                "globalConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "brandConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "accountConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "siteConfigKeys": {
                                    "type": "object",
                                    "properties": {
                                        "keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        },
                                        "constraints": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "scope": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "scope",
                                                    "name",
                                                    "value"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "deleteSiteConfigKeys": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scope": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "scope",
                                            "name"
                                        ]
                                    }
                                },
                                "deleteSiteConfigConstraints": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scope": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "scope",
                                            "name"
                                        ]
                                    }
                                }
                            },
                            "required": []
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}